	/* */
	.blue {
		background-color: blue;
	}

	.red {
		background-color: red;
	}

	.green {
		background-color: green;
	}
	.ticker-container div.carrier{
		position: absolute;
		overflow: hidden;
		white-space: nowrap;
	}

	/* b3q ticker template */
	div.simple-blue-bottom-85 {
	  background: -moz-linear-gradient(top,  #1e5799 0%, #43658e 2%, #207cca 8%, #2989d8 88%, #7db9e8 97%, #7db9e8 97%, #1e5799 100%); 
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(2%,#43658e), color-stop(8%,#207cca), color-stop(88%,#2989d8), color-stop(97%,#7db9e8), color-stop(97%,#7db9e8), color-stop(100%,#1e5799)); 
	  background: -webkit-linear-gradient(top,  #1e5799 0%,#43658e 2%,#207cca 8%,#2989d8 88%,#7db9e8 97%,#7db9e8 97%,#1e5799 100%); 
	  background: linear-gradient(to bottom,  #1e5799 0%,#43658e 2%,#207cca 8%,#2989d8 88%,#7db9e8 97%,#7db9e8 97%,#1e5799 100%);   

	  /* to remove */
	  position: absolute;
	  top: 85px;
	  left:10%;
	  width:80%;
	  min-height: 40px;
	  overflow: hidden;
	}

	/* text styles */
	.basic-white-text {
	  font-size: 32px;
	  color: #ffffff;
	  font-family: sans-serif;
	  margin: 4px 0 6px 0;
	}

	.basic-yellow-text {
	  font-size: 32px;
	  color: yellow;
	  font-family: sans-serif;
	  margin: 4px 0 6px 0;
	}

	.fancy-white-text {
        font-size: 45px;
        margin-top: 0;
        font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;
        text-shadow: 2px 3px 3px #292929;
        letter-spacing: -2px;
        -webkit-text-stroke: 1px white;
	}
